<ion-view view-title="Trocadores">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="trocador in trocadores | orderBy:'-qtdTrocada'" type="item-text-wrap" href="#/tab/trocadores/{{trocador.id}}">
        <img ng-src="{{trocador.foto}}">
        <h2>{{trocador.nome}}</h2>
        <p>Total de trocas: {{trocador.qtdTrocada}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(trocador)">
          Excluir
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
